/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@0300&family=Oswald:wght@200..700&display=swap');


/* Wildcard selector */ 
* { 
padding: 0; 
margin: 0;  
box-sizing: border-box; 
} 

/* General style rules */ 
body { 
min-height: 100vh; 
display: flex; 
flex-direction: column; 
/* Generic project styles */ 
color: #3a3a3a; 
overflow: auto; 
font-family: 'Lato', sans-serif; 
} 

/* Header and navbar menu list */
header {
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 90px;
    box-shadow: 0 2px 2px #dadada;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 15px;
    border-top: 2px solid #dadada;      
}

header a {
    text-decoration: none;
    color: darkgray;
    text-transform: capitalize;
    font-style: italic;
}
   
#menu {
    font-size: 100%;
    letter-spacing: 2px;
    list-style-type: none;   
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 2px solid #dadada;
}

#logo {
    width: 60%;
    margin-top: 25px; 
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #dadada;
    display: none;
    top: 100%;
 }

 /* Nav toggle */
 #nav-toggle:checked~nav {
    display: block;
 }

 #nav-toggle {
    display: none;
 }

 .nav-toggle-label {
    font-size: 2rem;
 }




/* Main */
main {
/* Make main element takes up all the surplus place to push footer down */
flex: 1 0 auto; 
margin-top: 120px;
}

/* About us section and image */ 
.about-us { 
    display: flex; 
    padding: 5%; 
    justify-content: space-between; 
    max-width: 1200px; 
    margin: 0 auto; 
    line-height: 1.6; 
    gap: 20px; 
    text-align: justify;  
    } 

.about-us-img { 
    width: 30%; 
    max-width: 350px; 
    height: auto; max-height: 100%;  
    object-fit: contain;  
    align-self: flex-start;  
    } 

.about-us-text { 
    flex: 1; 
    text-align: justify;  
    } 
        
.about-us-text p { 
    margin-bottom: 20px; 
    display: block;  
    }
    
.about-us-heading { 
    margin-bottom: 30px; 
    text-align: center; 
    } 

/* Columns-Services */
.container { 
    width: 90%;  
    margin: 0 auto;  
    padding: 0 2%; 
    }
    
.columns { 
    display: flex; 
    justify-content: space-around; 
    gap: 30px;  
    padding: 0 5%; 
    } 

.column { 
    flex: 1; 
    max-width: 47%; 
    }
    
.column h3 { 
     margin-bottom: 30px; 
    text-align: center; 
    color: #3a3a3a; 
     border-bottom: 2px solid #dadada; 
    } 

.column img { 
    width: 100%;  
    height: auto; 
    display: block; 
    margin-bottom: 30px; 
    } 

.text-box { 
     width: 100%; 
    text-align: justify; 
    line-height: 1.6; 
    } 
        
.text-box p { 
    margin-bottom: 20px; 
    display: block; 
    } 
 

.column-main-heading { 
    margin-bottom: 20px; 
    margin-top:90px; 
    color: darkgray; 
    text-align: right; 
    width: 88%; 
    } 
        
         




/* Cakes */ 
.cakes-container { 
     margin-top: 100px; 
     margin-bottom: 150px; 
    } 
.cakes-heading {
    text-align: center;
} 

.cakes-images {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
}

.rounded-image { 
    width: 150px; 
    height: 150px;  
    border-radius: 50%; 
    object-fit: cover; 
    transition: transform 0.3s ease-in-out; 
    }  
    
.rounded-image:hover { 
    transform: scale(2.2); /* Zoom in effect when hovering */ 
     } 
    
     

/* Prefooter */
.prefooter { 
    text-align: center; 
    margin-top: 100px; 
    margin-bottom: 100px; 
    } 

.prefooter p { 
    line-height: 1.3; 
    margin-bottom: 10px; 
    } 
        
.hr2 { 
    width: 60%; 
    margin: 30px auto; 
    border: 0; 
    border-bottom: 2px solid #dadada; 
    } 

/* Footer */
footer { 
     background-color: #dadada; 
    width: 100%; 
    color: #3a3a3a; 
    height: 250px; 
    display: flex; 
    flex-direction: column; 
    text-align: center; 
}

.info { 
     display: flex; 
     flex-direction: column;  
     align-items: center;  
     font-size: 16px; 
     margin-top: 20px;  
    } 
    
.info p { 
    margin: 5px 0;  
    } 

.networks { 
    display: flex;  
    font-size: 35px; 
    gap: 20px; 
    margin-top: 50px;  
    justify-content: center; 
    }    

/* Copyright */
.copyright { 
     text-align: center; 
     margin-top: 10px; 
     margin-bottom: 10px; 
     color: #3a3a3a; 
 } 

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px){ 
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;

    }
    #menu {
        display: flex;
    }
    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        width: 100%;
        margin-top: 10px;
    }
}

 

@media screen and (min-width: 992px) { 
    #menu a:hover { 
    border-bottom: 1px solid #dadada; 
    } 
}
    
     