/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@0300&family=Oswald:wght@200..700&display=swap');


/* Wildcard selector */ 
* { 
padding: 0; 
margin: 0;  
box-sizing: border-box; 
} 

/* General style rules */ 
body { 
min-height: 100vh; 
display: flex; 
flex-direction: column; 
/* Generic project styles */ 
color: #3a3a3a; 
overflow: auto; 
font-family: 'Lato', sans-serif; 
} 

/* Header and navbar menu list */
header {
    background-color: white;
    margin-top: 15px;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 90px;
    box-shadow: 0 2px 2px #dadada;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-top: 2px solid #dadada;      
}

header a {
    text-decoration: none;
    color: darkgray;
    text-transform: capitalize;
    font-style: italic;
}
   
#menu {
    font-size: 100%;
    letter-spacing: 2px;
    list-style-type: none; 
    
}

#menu > li {
    margin-bottom: 1rem;
    
}

.active {
    border-bottom: 2px solid #dadada;
}

#logo {
    width: 60%;
    margin-top: 25px; 
}

/* Navbar styles with dropdown toggle */
nav {
    
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #dadada;
    display: none;
    top: 100%;
 }

 /* Nav toggle */
 #nav-toggle:checked~nav {
    display: block;
 }

 #nav-toggle {
    display: none;
 }

 .nav-toggle-label {
    font-size: 2rem;
 }

 /* Hero image and cover-text */
 #hero { 
     height: 800px; 
     width: 100%; 
     background: url("../images/hero1.png") no-repeat center center/cover; 
    }
#cover-text { 
     background-color: rgba(211, 211, 211, .7); 
     font-size: 2rem; 
     text-align: center; 
     min-height: 200px; 
     width: 80%; 
     padding-top: 40px; 
     padding-left: 10px; 
     position: absolute; 
     bottom: 30px; 
     color: #3a3a3a; 
    } 

/* Main heading under hero and text */
.heading1 { 
    font-size: 400%; 
    margin-bottom: 30px; 
    text-align: center; 
    line-height: 1.1; 
    } 
        
.text-center { 
    text-align: center; 
    } 
        
.text-center p { 
    line-height: 1.3; 
    margin-bottom: 20px; 
    }

/* Button CTA */ 
.button { 
    padding: 10px 20px; 
    color: white; 
    background-color: #5c1538; 
    font-size: 1.1em; 
    border: none; 
    cursor: pointer; 
    border-radius: 5px; 
    transition: background-color 0.3 ease; 
    margin-top: 30px; 
    margin-bottom: 10px; 
    } 
    
.button:hover { 
    background-color: #741B47; 
    } 
    
hr { 
    width: 60%; 
    margin: 30px auto; 
    border: 0; 
    border-top: 2px solid #dadada; 
    } 
    
     
    

/* Main */
main {
/* Make main element takes up all the surplus place to push footer down */
flex: 1 0 auto; 
margin-top: 120px;
}

/* About us section and image */ 
.about-us { 
    display: flex; 
   padding: 5%;
    justify-content: space-between; 
    max-width: 1200px; 
    margin: 0 auto; 
    line-height: 1.6; 
    gap: 20px; 
    text-align: justify;  
    } 

.about-us-img { 
    width: 30%; 
    max-width: 350px; 
    height: auto;   
    object-fit: contain;  
    align-self: flex-start;  
    } 

.about-us-text { 
    flex: 1; 
    text-align: justify;  
    } 
        
.about-us-text p { 
    margin-bottom: 20px; 
    display: block;  
    }
    
.about-us-heading { 
    margin-bottom: 30px; 
    text-align: center; 
    } 

 
/* Review section */
.image-reviews { 
    position: relative; 
    width: 100%; 
    height: 700px;  
    } 
        
.reviews { 
    width: 100%;  
    height: 100%; 
    object-fit: cover; 
    } 
    
.reviews-container { 
    position: absolute; 
    top: 50%;  
    left: 50%;  
    display: flex;  
    width: 80%; 
    gap: 30px; transform: translate(-50%, -50%); 
    justify-content: space-between; 
    flex-wrap: wrap; 
    align-items: center; 
    } 
        
.comment-box { 
    background-color: white; 
    padding: 15px 20px; 
    flex: 1 1 200px;  
    margin: 10px 0;  
    color: #3a3a3a; 
    font-size: 1em; 
    min-width: 200px; 
    max-width: 300px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    opacity: 0.8;  
    border: 2px solid #dadada; 
    min-height: 150px; 
    height: auto; display: flex; 
    flex-direction: column; 
    justify-content: center; 
    text-align: justify;  
    overflow: hidden; 
    text-justify: inter-word; white-space: normal; 
    line-height: 1.3;  
    word-wrap: break-word;  
    word-break: break-word;  
    } 
        
.comment-box:hover { 
    opacity: 1;  
    } 


/* Columns-Services */
.container { 
    width: 90%;  
    margin: 0 auto;  
    padding: 0 2%; 
    }
    
.columns { 
    display: flex; 
    justify-content: space-between; 
    gap: 20px;  
    width: 100%; 
    } 

.column { 
    flex: 1; 
    max-width: 47%; 
    }
    
.column h3 { 
     margin-bottom: 30px; 
    text-align: center; 
    color: #3a3a3a; 
     border-bottom: 2px solid #dadada; 
    } 

.column img { 
    width: 100%;  
    height: auto; 
    display: block; 
    margin-bottom: 30px; 
    } 

.text-box { 
     width: 100%; 
    text-align: justify; 
    line-height: 1.6;
    margin-bottom: 150px; 
    } 
        
.text-box p { 
    margin-bottom: 10px; 
    display: block; 
    } 
 

.column-main-heading { 
    margin-bottom: 20px; 
    margin-top:100px; 
    color: darkgray; 
    text-align: right; 
    width: 88%; 
    } 
        
        

/* Cakes */ 
.cakes-container { 
     margin-top: 100px; 
    } 

.cakes-heading {
    text-align: center;
} 

.cakes-images {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    justify-content: center;
    margin-bottom: 150px;
}

.rounded-image { 
    width: 150px; 
    height: 150px;  
    border-radius: 50%; 
    object-fit: cover; 
    transition: transform 0.3s ease-in-out; 
    }  
    
.rounded-image:hover { 
    transform: scale(2.2); /* Zoom in effect when hovering */ 
     } 
    
     

/* Prefooter */
.prefooter { 
    text-align: center; 
    margin-top: 100px; 
    margin-bottom: 100px; 
    } 

.prefooter p { 
    line-height: 1.3; 
    margin-bottom: 10px; 
    } 
        
.hr2 { 
    width: 60%; 
    margin: 30px auto; 
    border: 0; 
    border-bottom: 2px solid #dadada; 
    } 

/* Footer */
footer { 
     background-color: #dadada; 
    width: 100%; 
    color: #3a3a3a; 
    height: 250px; 
    display: flex; 
    flex-direction: column; 
    text-align: center; 
}

.info { 
     display: flex; 
     flex-direction: column;  
     align-items: center;  
     font-size: 16px; 
     margin-top: 20px;  
    } 
    
.info p { 
    margin: 5px 0;  
    } 

.networks { 
    display: flex;  
    font-size: 35px; 
    gap: 20px; 
    margin-top: 50px;  
    justify-content: center; 
    }    

/* Copyright */
.copyright { 
     text-align: center; 
     margin-top: 10px; 
     margin-bottom: 10px; 
     color: #3a3a3a; 
 } 

  

/* Gallery page */ 
#gallery { 
     max-width: 80%;  
     margin: 0 auto;  
     margin-bottom: 100px; 
    } 

#photos { 
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    justify-items: center; 
    position: relative; 
    margin-top: 100px; 
    } 
    
#photos img { 
    width: 95%; 
    height: 100%; 
    cursor: pointer; 
    object-fit: cover; 
    transition: transform 0.3s ease-in-out, z-index 0.3s ease-in-out; 
    } 
    
#photos img:hover { 
    transform: scale(1.5);  
    z-index: 10;  
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); 
    } 

html { 
     scroll-behavior: smooth; 
    } 

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px){ 
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;

    }
    #menu {
        display: flex;
    }
    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        width: 100%;
        margin-top: 10px;
    }

    #photos {
        grid-template-columns: repeat(4, 1fr); 
    }

    .networks {
        font-size: 28px; 
        gap: 10px;
    }

    .info {
        font-size: 13px;
    }

}

@media screen and (min-width: 992px) { 
    #menu a:hover { 
    border-bottom: 1px solid #dadada; 
    } 

    #photos {
        grid-template-columns: repeat(4, 1fr); 
    }
}

@media screen and (max-width: 480px) {
    #photos {
        grid-template-columns: repeat(2, 1fr); 
    }

    #photos img:hover {
        transform: none; 
        box-shadow: none;
    }
    .networks {
        font-size: 25px; 
        gap: 8px;
    }

    .info {
        font-size: 12px;
    }

    .copyright {
        font-size: 10px;
        padding: 8px;
    }
}