/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@0300&family=Oswald:wght@200..700&display=swap');


/* Wildcard selector */ 
* { 
padding: 0; 
margin: 0;  
box-sizing: border-box; 
} 

/* General style rules */ 
body { 
min-height: 100vh; 
display: flex; 
flex-direction: column; 
/* Generic project styles */ 
color: #3a3a3a; 
overflow: auto; 
font-family: 'Lato', sans-serif; 
} 

/* Header and navbar menu list */
header {
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #dadada;
}

header a {
    text-decoration: none;
    color: darkgray;
    text-transform: capitalize;
    font-style: italic;
}
   
#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;   
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 2px solid #dadada;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #dadada;
    display: none;
 }



/* Main */
main {
   flex: 1 0 auto; 
   /* Make main element takes up all the surplus place to push footer down */
}
/* Footer */
    
     